* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

body{
    background-color: #c2a5ea;
}

img {
    width: 70%;
    height: 100%;
}

#siswa-berprestasi, #profile {
    padding-top: 35px;
}

/* Nav */
.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 24px;
}

nav {
    position: fixed;
    z-index: 2;
    background-color: #2E0249;
    width: 100%;
    padding: 10px 0;
}

nav .navbar {
    margin: 0 50px;

}

.navbar .navbar-left {
    float: left;
}

.navbar-left a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.navbar-right {
    float: right;
}
/* End Nav */

/* Background Image */
.image-content img {
    width: 100%;
    max-height: 600px;
    padding-top: 2.5em;
}
/* End Background Image */

/* Siswa Berprestasi */
.content-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 50px;
}

.content-grid img {
    width: 100%;
    height: 100%;
}
/* End Siswa Berprestasi */

/* Content Visi Misi & Profile */
.content-grid-1 {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr;
    margin: 15px 50px;
}

.card {
    padding: 20px;
    margin-top: 10px;
    text-align: justify;
    color: rgb(255, 255, 255);
    background-color: #4C3575;
    border-radius: 5px;
    min-height: 100px;
}

.col {
    padding: 60px 0;
    text-align: justify;
    width: 100%;
}
/* End Content Visi Misi & Profile */

/* Content Daftar */
.content-grid-2 {
    display: grid;
    grid-gap: 30px;
    grid:
        'kiri'
        'daftar';
    margin: 40px 50px;
}

.content-grid-2 .card {
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: #8366b5;
    color: black;
    grid-area: daftar
}

.content-grid-2 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button-submit {
    background-color: #A91079;
    font-weight: bolder;
    color: white;
    padding: 10px 20px;
    border: 1px solid #81125d;
    border-radius: 20px;
}

.button-submit:hover{
    background-color: #81125d;
    cursor: pointer;

}
/* End Content Daftar */

/* Footer */
footer {
    background-color: #2E0249;
    color: white;
    text-align: center;
    height: 110px;
    padding: 25px;
}

footer .content-grid-3 {
    font-weight: 100;
    display: grid;
    grid-gap: 30px;
    grid:
        'kiri tengah kanan';
}

footer .content-grid-3 .grid-items {
    display: grid;
    grid:
        'satu dua tiga empat lima';
}

footer .content-grid-3 .grid-items a {
    text-decoration: none;
    color: white;
    margin: 5px;
}
/* End Footer */


